.clj-kondo
.DS_Store
.env
.idea
.lsp

*.class
*.jar
*.log

/.lein-*
/.cpcache
/.nrepl-port
/.prepl-port
/.cpcache

/classes
/checkouts
/samples
/target

tmp/

pom.xml
pom.xml.asc
profiles.clj
resources/dev-config.edn
